
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  

  #location-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #location-error {
    margin-top: 0.5rem;
  }
  
  
  #search-form {
    display: flex;
    align-items: center;
  }
  
  #search-input {
    flex: 1;
  }
  
  #weather-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  #location-name {
    margin-bottom: 0.5rem;
  }
  
  body {
    background-color: #f7fafc;
  }
  
